.page__subtitle {
    font-family: 'Varela_Round', 'Rubik', 'Yehuda';
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    margin: 0 10px 20px;
    padding: 0;
}